<nav class="navbar"></nav>
  <div class="row double-container">

    <div class="col s2 sideBar">
      <div>
        <div [routerLink]="link.url" class="sideBar-select"
             *ngFor="let link of links"
             routerLinkActive="active"
        >
          <div class="rowDecor"></div>
          <a  class="sideBar-text">{{link.name}}</a>
        </div>
      </div>

      <div class="logout-btn sideBar-select" (click)="logout($event)" >
        <a class="sideBar-text">Выйти</a>
      </div>
    </div>

    <div class="col s10 contentContainer">
      <router-outlet></router-outlet>
    </div>

  </div>











