.login-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95%;
  padding-top: 20px;



}
.loginInputs  {
  display: flex;
  align-items:  center;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 100%
}

.loginInputs input {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  width: 85%;
  height: 30px;
  padding: 10px;
  border: 1px solid #b2c3d4;
  outline: none;
  font-weight: bold;
  color: #01213b;
}
.loginInputs input::placeholder {
  color: #959595;
  font-weight: 500;
}

.loginButtons {
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.loginButtons a{
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
.loginButtons a:hover {
  text-decoration: underline;
}

.enter-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  outline: none;
  border: 2px solid #2B6AA5;
  background-color: #2B6AA5;
  color: white;
}
.enter-btn:disabled{
  background-color: #728493;
  border:none;
}
.enter-btn:disabled:hover{
  background-color: #bd2020;
  color: white
}
.enter-btn:hover {
  background-color: transparent;
  color: #2B6AA5;
  transition: 0.25s ease-in-out;
}
.errBlock {
  width: 90%;
  margin-bottom: 5px;
}
.err-message {
  float: left;
  color: red;
}

